html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}

/*mobile*/
.moblieHeader{
    position: relative;
    max-width: 940px;
    margin: 30px auto 50px;
}

.mHeader-flex0{
    display: flex;
    justify-content: space-around;
}
.mHeader-btn{
    cursor: pointer;
}
/*背景特製調整*/
.mChooiseBg{
    position: absolute;
    width: 100%;
    background-color: #eaf0edb7;
    z-index: 999;
    text-align: center;
    font-size: 24px;
}
/*mobile end*/

/* moblie width 375*/
.container{
    max-width: 768px;
    margin: 0 auto;
}


.header-logo-flex{
    margin-top: 3vw;
    display: flex;
    justify-content: space-between;
}
.header-logo{
    height: 40px;
}

.head-bt-ul li{
    color: #3F5D45;
    margin: 0 20px 20px 20px;
    font: normal normal 600 16px/73px PingFang TC;
    float: left;    
    line-height: 30px;
}
.head-bt-ul li:hover{
    border-bottom: 1px solid #000;
    height: 24%;
}
.header-bt-flex{
    display: flex;
    justify-content: space-between;
}

.desktop-header-pt{
    width: 100%;
    height: 496px;
    background-image: url(../week3-Sweetast/banner.png);
    background-repeat: no-repeat;
}
/*main*/
.Main .container{
    max-width: 940px;
    margin: 0 auto;
}

.payBg{
    background: url(payment_success.jpg);
    width: 100% auto;
    height: 460px;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: #3F5D45;
    font: normal normal 900 50px/20px PingFang TC;
    text-align: center;
    transform: translate(0,-55%);
    margin-bottom: 3vw;
}
.payBg img{
    width: 66%;
    transform: translate(27%,-200%);
}

.payBg a{
    display: block;
    background-color: #FFE180;
    width: 300px;
    height: 65px;
    text-align: center;
}

.payText1{
    transform: translate(0,100%);
    color: #3F5D45;
    font: normal normal 600 24px/20px PingFang TC;
}


/*footer*/

.footer{
    margin-top: 5vw;
    max-width: 100vw;
}
@media (max-width:768px) {
    .footer{
        display: none;
    }
}

.footer-Email{
    background-color: #3F5D45;
    height: 116px;
    display: flex;
    justify-content: space-around ;

}

.Email-logo h2{
    font-size: 24px;
    color: #EAF0ED;
    line-height: 29px;
    transform: translate(5%,7%);
}
.Email-M-logo h2{
    font-size: 24px;
    color: #EAF0ED;
    line-height: 29px;
    transform: translate(5%,7%);
}
.Email-logo p{
    font-size: 24px;
    color: #EAF0ED;
    line-height: 29px;
    transform: translate(5%,7%);
}
.Email-logo{
    display: flex;
    justify-content: start;
    align-items: center;
}


.input{
    width: 380px;
    position: relative;
    z-index: 0;
    display: flex;
    align-self: center;
}

.input .input-form{
    width: 100%;
    height: 52px;
    font-size: 20px;
    text-indent: 50px;
    
}
.input-bt{
    padding-top: 10px;
    height: 40px;
    width: 40px;
    position:absolute ;
    right: 0;
    top: 0; 
    z-index: 1;
}
.input-logo
{
    padding-top: 10px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 40px;
}
.input img{
    height: 40px;
}

.footer-content-bg{
    width: 100% auto;
    height: 341px;
    background-color: #EAF0ED;
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
}
@media (max-width:768px) {
    .footer-content-bg{
        display: none;
    }
}

.footer-text{
    margin-top: 50%;
    font-size: 16px;
    color: #3F5D45;
    line-height: 24px;
}
.wrap-left{
    margin-left: 220px;
}
.wrap-left .footer-logo{
    margin-top: 24px;
}
.wrap-right p{
    transform: translate(-75%,0%);
    margin-top: 24px;
}
/*footer mobile*/
.footerMobile{
    max-width:375px;
    display: none;
    margin: 0 auto;
}
@media (max-width:768px) {
    .footerMobile{
        display: block;
    }
}

.footer-M-Email{
    width: 100%;
    height: 186px;
    background-color: #3F5D45;
    text-align:center;
    display: flex;
    justify-content: end;
    align-items:center;
}
.footer-M-Content{
    width: 315px;
    margin: 0 auto;
}
.footer-M-YellowBg{
    
    width: 60px;
    height: 56px;
    background: #FFE180;
}
.M-input{
    max-width: 315px;
    position: relative;
    z-index: 0;
    display: flex;
    align-self: center;
    
}
.Email-M-logo{
    display: flex;
    justify-content: start;
    align-items: center;
}

.input-M-form{
    width: 307px;
    height: 50px;
    font-size: 20px;
    text-indent: 50px;
    
}

.input-M-logo
{
    padding-top: 10px;
    position: absolute;
    left: 15px;
    top: 5px;
    z-index: 1;
    height: 24px;
}

/*第二段 mobile footer*/
.footer-M-logo{
    
    width: 100%;
    height: 311px;
    background-color: #EAF0ED;
    
}
.footer-M-pt1{
    background: url(../week3-Sweetast/logotype-lg-dark.svg);
    width: 171px;
    height: 26.6px;
    margin-bottom: 24px;
    font-weight: bold;
}

.footer-M-p{
    font: normal normal normal 16px/24px Helvetica Neue;
    color: #3F5D45;
}

.footer-M-linept{
    background: url(../week3-Sweetast/ic-line@.svg);
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
}
.footer-M-fbpt{
    background: url(../week3-Sweetast/ic-facebook.svg);
    margin-left: 16px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
}
.footer-M-linkFlex{
    display: flex;
    margin-top: 24px;
}
