html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}
/*header*/

/*mobile*/
.moblieHeader{
    position: relative;
    max-width: 940px;
    margin: 30px auto 50px;
}

.mHeader-flex0{
    display: flex;
    justify-content: space-around;
}
.mHeader-btn{
    cursor: pointer;
}
/*背景特製調整*/
.mChooiseBg{
    position: absolute;
    width: 100%;
    background-color: #eaf0edb7;
    z-index: 999;
    text-align: center;
    font-size: 24px;
}
/*mobile end*/

/* moblie width 375*/
.container{
    max-width: 768px;
    margin: 0 auto;
}



.header-logo-flex{
    margin-top: 3vw;
    display: flex;
    justify-content: space-between;
}
.header-logo{
    height: 40px;
}

.head-bt-ul li{
    color: #3F5D45;
    margin: 0 20px 20px 20px;
    font: normal normal 600 16px/73px PingFang TC;
    float: left;    
    line-height: 30px;
}
.head-bt-ul li:hover{
    border-bottom: 1px solid #000;
    height: 24%;
}
.header-bt-flex{
    display: flex;
    justify-content: space-between;
}

.desktop-header-pt{
    width: 100%;
    height: 496px;
    background-image: url(../week3-Sweetast/banner.png);
    background-repeat: no-repeat;
}

/*main*/
h1{
    margin-top: 30px;
    color: #EAF0ED;
    font: normal normal 600 36px/20px PingFang TC;
}
.listText0{
    display: flex;
    justify-content: space-between;
    transform: translate(0,-25%);
    margin-bottom: 40px;
    margin-top: 24px;
}
.Main .container{
    display: flex;

    max-width: 1024px;
    margin: 0px auto;
    padding-top: 100px;
}
@media (max-width:768px) {
    .Main .container{
        max-width: 375px;
    }
}
.perpsonalList{
    max-width: 460px;
}
@media (max-width:768px) {
    .perpsonalList{
        max-width: 375px;
    }
}
.perpsonalList .bg{

    max-width:  460px;
    padding: 24px;
    background-color: #3F5D45;
    
}
@media (max-width:768px) {
    .perpsonalList .bg{
        max-width: 375px;
    }
}
.BillBtn{
    display: flex;
    justify-content: start;
    text-align: center;
}
.BillBtn .onBtn{
    margin: 0;
    width: 190px;
    height: 56px;
    background-color: #EAF0ED;
    color: #3F5D45;
    border: 1px solid #EAF0ED;
    display: flex;
    align-items: center;
    justify-content: center;    
    cursor:pointer
}
.BillBtn .offBtn{
    margin: 0;
    width: 190px;
    height: 56px;
    background-color: #3F5D45;
    color: #EAF0ED;
    border: 1px solid #EAF0ED;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer
}

.input-box0{
    max-width: 380px;
    height: 56px;
    position: relative;
}
@media (max-width:768px) {
    .input-box0{
        max-width: 375px;
    }
}
.input-box0 .boxBg{
    width: 100%;
    height: 56px;
    background-color: #EAF0ED;
}
.mi-flex0{
    display: flex;
    justify-content: space-between;
}
.mi-flex1{
    display: flex;
    justify-content: end;
}
.mi-flex-input0{
    background: url(arrow_RightandBottom-removebg-preview.png);
    background-color: #EAF0ED;
    background-position: 90% 10px;
    background-size: 20%;
    background-repeat: no-repeat;
    width: 184px;
    height: 56px;
}
@media (max-width:768px) {
    .mi-flex-input0{
        width: 150px;
    }
}
.mi-flex-input1{
    width: 380px;
    height: 56px;
    background-color: #EAF0ED;
}
@media (max-width:768px) {
    .mi-flex-input1{
        max-width: 315px;
    }
}
.bg p{
    color: #EAF0ED;
    font: normal normal 600 20px/20px PingFang TC;
    margin: 10px 10px 10px 0;
}

.a-bg{
    display: block;
    background-color: #FFE180;
    width: 460px;
    height: 65px;
    color: #3F5D45;
    font: normal normal 600 24px/20px PingFang TC;
    text-align: center;
}
@media (max-width:768px) {
    .a-bg{
        max-width: 375px;
    }
}

.a-bg p{
    transform: translate(0%,100%);
    
}

/*OrderSummary*/
.OrderSummary{

}
@media (max-width:768px) {
    .OrderSummary{
        display: none;
    }
    
}
.order h2{
    width: 300px;
    height: 65px;
    background-color: #EAF0ED;
    color: #8DA291;
    font: normal normal 600 24px/20px PingFang TC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order{
    margin-left: 24px;
}
.orderBoder{
    border: 1px solid #EAF0ED;
    margin-bottom: 20px;
}
.orderFlex{
    margin: 8px 20px 0px 20px;
   
    color: #8DA291;
    font:  16px/20px PingFang TC;
    display: flex;
    justify-content: space-between;
}
.orderFlex2{
    margin: 8px 20px 16px 20px;
   
    color: #8DA291;
    font: normal normal 600 20px/20px PingFang TC;
    display: flex;
    justify-content: space-between;
}
/*購物清單*/
.sweetList{
    border: 1px solid #EAF0ED;
    padding: 15px 15px 0 15px;
}
.ListPt8{
    width: 120px;
    height: 80px;
    background-image: url(p-8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.ListPt5{
    width: 120px;
    height: 80px;
    background-image: url(p-5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.ListPt3{
    width: 120px;
    height: 80px;
    background-image: url(p-3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.listFlex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.listFlex1{
    display: flex;
    justify-content: space-between;
}
.listText1{
    margin-top: 16px;
    margin-bottom: 28px;
    color: #8DA291;
    font: normal normal 300 16px/20px PingFang TC;
}

.listText2{
    color: #8DA291;
    font: normal normal 600 20px/20px PingFang TC;

}

/*footer*/

/*footer*/

.footer{
    margin-top: 5vw;
    max-width: 100vw;
}
@media (max-width:768px) {
    .footer{
        display: none;
    }
}

.footer-Email{
    background-color: #3F5D45;
    height: 116px;
    display: flex;
    justify-content: space-around ;

}

.Email-logo h2{
    font-size: 24px;
    color: #EAF0ED;
    line-height: 29px;
    transform: translate(5%,7%);
}
.Email-M-logo h2{
    font-size: 24px;
    color: #EAF0ED;
    line-height: 29px;
    transform: translate(5%,7%);
}
.Email-logo p{
    font-size: 24px;
    color: #EAF0ED;
    line-height: 29px;
    transform: translate(5%,7%);
}
.Email-logo{
    display: flex;
    justify-content: start;
    align-items: center;
}


.input{
    width: 380px;
    position: relative;
    z-index: 0;
    display: flex;
    align-self: center;
}

.input .input-form{
    width: 100%;
    height: 52px;
    font-size: 20px;
    text-indent: 50px;
    
}
.input-bt{
    padding-top: 10px;
    height: 40px;
    width: 40px;
    position:absolute ;
    right: 0;
    top: 0; 
    z-index: 1;
}
.input-logo
{
    padding-top: 10px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 40px;
}
.input img{
    height: 40px;
}

.footer-content-bg{
    width: 100% auto;
    height: 341px;
    background-color: #EAF0ED;
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
}
@media (max-width:768px) {
    .footer-content-bg{
        display: none;
    }
}

.footer-text{
    margin-top: 50%;
    font-size: 16px;
    color: #3F5D45;
    line-height: 24px;
}
.wrap-left{
    margin-left: 220px;
}
.wrap-left .footer-logo{
    margin-top: 24px;
}
.wrap-right p{
    transform: translate(-75%,0%);
    margin-top: 24px;
}
/*footer mobile*/
.footerMobile{
    max-width:375px;
    display: none;
    margin: 0 auto;
}
@media (max-width:768px) {
    .footerMobile{
        display: block;
    }
}

.footer-M-Email{
    width: 100%;
    height: 186px;
    background-color: #3F5D45;
    text-align:center;
    display: flex;
    justify-content: end;
    align-items:center;
}
.footer-M-Content{
    width: 315px;
    margin: 0 auto;
}
.footer-M-YellowBg{
    
    width: 60px;
    height: 56px;
    background: #FFE180;
}
.M-input{
    max-width: 315px;
    position: relative;
    z-index: 0;
    display: flex;
    align-self: center;
    
}
.Email-M-logo{
    display: flex;
    justify-content: start;
    align-items: center;
}

.input-M-form{
    width: 307px;
    height: 50px;
    font-size: 20px;
    text-indent: 50px;
    
}

.input-M-logo
{
    padding-top: 10px;
    position: absolute;
    left: 15px;
    top: 5px;
    z-index: 1;
    height: 24px;
}

/*第二段 mobile footer*/
.footer-M-logo{
    
    width: 100%;
    height: 311px;
    background-color: #EAF0ED;
    
}
.footer-M-pt1{
    background: url(../week3-Sweetast/logotype-lg-dark.svg);
    width: 171px;
    height: 26.6px;
    margin-bottom: 24px;
    font-weight: bold;
}

.footer-M-p{
    font: normal normal normal 16px/24px Helvetica Neue;
    color: #3F5D45;
}

.footer-M-linept{
    background: url(../week3-Sweetast/ic-line@.svg);
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
}
.footer-M-fbpt{
    background: url(../week3-Sweetast/ic-facebook.svg);
    margin-left: 16px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
}
.footer-M-linkFlex{
    display: flex;
    margin-top: 24px;
}
